
@font-face {
    font-family: comics;
    src: url(./fonts/AvengeanceMightiestAvenger-837g.ttf);
}
@font-face {
    font-family: Wolverins;
    src: url(./fonts/Wolverins-2Vno.ttf);
  }






  h1 {
    font-family: Wolverins;
    color: rgb(14,17,19);
    font-size: 20vh;
    margin-top: 25px;
    text-align: center;
    z-index: -2000;
    display: inline-block;


  }

   #xmen{
    font-family: Wolverins;
    color: rgb(14,17,19);
    font-size: 10vh;




  }




  h2 {
    display:inline-block;
font-family: Wolverins;
color: rgb(14,17,19);
    font-size: 3vh;
    margin-top:25px;
    margin-left: 6vw;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

 body {

 margin: 0px 0px;
 background-color: rgb(255,254,3)
 }

 p {
font-family: comics;
font-size: 15px;
margin-left: 0px;
margin-right:0px;
margin-top: 0px;
 }
#claw1 {
width: 200px;
margin-left: 80px;
}
  #claw2 {
  width: 200px;
  margin-right: 80px;
  justify-self: flex-end;
  }

.image {
position: absolute;
width: 30vw;
top: 0px;
}



#movedown {

padding: 0pc;
margin-bottom: 0;
}

.imaginary{  /*this is just show color scheme */
color: rgb(29,144,243);

color: rgb(255,254,3);


color: rgb(249,65,21);

color: rgb(252,209,169);

color: rgb(14,17,19);
}



#line {
  position: relative;
  height:6vh;
  background-color: rgb(29,144,243);
  width: 100vw;
  margin-top:0px;
  padding-top: 0px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 50px;
  color: rgb(249,65,21);
  font-family: Wolverins;
  font-size: 3.9vh;
  }

.menu {
margin-top: 7px;
display: flex;
justify-content: center;

}

.black {
margin-top: 0px;
padding:4px;
display: grid;
position: relative;
height:vh;
background-color: rgb(14,17,19);
grid-template-columns: repeat(4,1fr);
z-index: 500;
justify-content: center;
width: 100vw;



}

.logos {
width: 6vw;

}
#b1 {
grid-column: 1/2;
justify-self: center;

}

#b2 {
grid-column: 2/3;
justify-self: center;
}

#b3 {
grid-column: 3/4;
justify-self: center;

}

#b4 {
grid-column: 4/5;
justify-self: center;

}
