
@font-face {
    font-family: comics;
    src: url(./fonts/AvengeanceMightiestAvenger-837g.ttf);
}
@font-face {
    font-family: Wolverins;
    src: url(./fonts/Wolverins-2Vno.ttf);
  }
html{
    background-color: rgb(255,254,3);
}

.parent {
display: flex;
justify-content: space-between;


}






#page-container {
  position: relative;
  min-height: 100vh;
}
  h1 {
    font-family: Wolverins;
    color: rgb(14,17,19);
    font-size: 125px;
    margin-top: 25px;
    text-align: center;
    z-index: -2000;
    display: inline-block;

  }

   #xmen{
    font-family: Wolverins;
    color: rgb(14,17,19);
    font-size: 100px;

    ;


  }




  h2 {
    display:inline-block;
font-family: Wolverins;
color: rgb(14,17,19);
    font-size: 40px;
    margin-top:25px;
    margin-left: 42px;
  }

 body {

 margin: 0px 42px
 padding: 20px;
 }

 p {
font-family: comics;
font-size:18PX;
margin-left: 42px;
margin-right:966px;
 }
#claw1 {
width: 200px;
margin-left: 80px;

}
  #claw2 {
  width: 200px;
  margin-right: 80px;
  justify-self: flex-end;
  }

.image {
position: absolute;
width: 700px;
left: 60vw;
top: 0px;


  }

#line {
position: relative;
height:50px;
background-color: rgb(29,144,243);
bottom: 20px;
margin-top:0px;
padding-top: 0px;
margin-bottom: 0px;
border: 0pc;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: 50px;
}

#movedown {

padding: 0pc;
margin-bottom: 0;
}

.imaginary{
color: rgb(29,144,243);

color: rgb(255,254,3);


color: rgb(249,65,21);

color: rgb(252,209,169);

color: rgb(14,17,19);
}

#menus {
    color: rgb(249,65,21);
    font-family: Wolverins;
    font-size: 40px;
    padding-bottom:0px;
    margin-bottom: 0px;
    background-color: black;
    z-index: 1000;
}

.menu {
margin-top: 7px;
display: flex;
justify-content: center;

}

.black {
margin-top: 0px;
padding-top:0px;
display: grid;
position: relative;
height:200px;
background-color: rgb(14,17,19);
grid-template-columns: 195px 175px 430px 175px 405px 175px 400px 175px;
grid-template-rows: 200px;
z-index: 500;


}

.logos {
width: 200px;

}
#b1 {
grid-column: 2/3;

}

#b2 {
grid-column: 4/5;
}

#b3 {
grid-column: 6/7;

}

#b4 {
grid-column: 8/9

}
